:root {
    --link-anim-color: white;
}

.link {
    position: relative;
}

.link::before, .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid var(--link-anim-color);

    transition: width .4s;
}

.link::before {
    left: 50%;
}

.link::after {
    right: 50%;
}

.link:hover::before, .link:hover::after {
    width: 50%;
}