@use 'breakpoints';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    --light-color: #ddd;
    --dark-color: black;
    --accent-color: #1c6b1c;


    --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --xxl-breakpoint: 1400px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 62.5%;
    color: var(--light-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}
