.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.companyName {
    text-align: center;
    text-shadow: 0 0 3px black;
}

img {
    margin-right: 1rem;
}

a {
    text-align: center;
}

a:hover {
    color: var(--accent-color);
}